.alphabet {
  box-sizing: border-box;

  &_big-text {
    .alphabet__item {
      @media (min-width: $tablet-width) {
        margin-right: 12%;
        margin-bottom: 23px;
        width: 8%;
      }
    }
  }
}

.alphabet__list {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
}

.alphabet__item {
  flex-grow: 1;
  margin-right: -1px;
  margin-bottom: -1px;
  width: 20%;

  @media (min-width: $desktop-width) {
    margin-right: 4%;
    margin-bottom: 14px;
    width: 16%;
  }

  &:nth-child(5n) {
    margin-right: 0;
  }

  &:last-child,
  &:nth-last-child(2),
  &:nth-last-child(3),
  &:nth-last-child(4),
  &:nth-last-child(5) {
    margin-bottom: 0;
  }
}
