.authorization-link {
  border-bottom: 1px solid #ffd74b;

  text-decoration: none;
  color: #ffd74b;

  &:hover,
  &:focus {
    border-color: #ff8d30;

    color: #ff8d30;
  }

  &:active {
    opacity: 0.3;
  }
}
