.avatar {
  @include circle(70px);

  box-sizing: border-box;
  display: block;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    border-radius: 16px;
    width: 190px;
    height: 190px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 285px;
    min-height: 285px;
  }

  &_big {
    border-radius: 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 270px;
    height: 270px;

    @media (min-width: $tablet-width) {
      border-radius: 0;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      width: 285px;
      height: 285px;
    }

    @media (min-width: $desktop-width) {
      position: static;

      width: 285px;
      height: 285px;
      min-height: auto;

      .avatar__image {
        position: static;

        width: 100%;
        height: auto;

        transform: none;
      }
    }
  }

  &_small {
    width: 100px;
    height: 100px;

    @media (min-width: $tablet-width) {
      border-radius: 8px;
      width: 94px;
      height: 94px;
    }

    @media (min-width: $desktop-width) {
      position: static;

      border-radius: 0;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      width: 190px;
      height: 190px;
      min-height: auto;

      .avatar__image {
        position: static;

        width: 100%;
        height: auto;

        transform: none;
      }
    }
  }
}

.avatar__image {
  width: 100%;
  height: auto;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;

    width: auto;
    height: 100%;

    transform: translateX(-50%);
  }
}
