.button {
  box-sizing: border-box;
  display: block;
  border: 3px solid transparent;
  border-radius: 26px;
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 5px;
  padding-left: 16px;

  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #161c35;

  background-color: #ffd74b;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 8px;

    font-size: 20px;
    line-height: 24px;
  }

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    .button__text {
      opacity: 0.3;
    }
  }

  &_medium {
    @media (min-width: $tablet-width) {
      position: relative;

      border-radius: 20px;
      padding-top: 26px;
      padding-bottom: 23px;
      padding-left: 30px;

      font-size: 24px;
      line-height: 26px;
      text-align: left;
      text-transform: none;
    }

    &::before {
      @media (min-width: $tablet-width) {
        @include triangle-right(10px, 14px, #1d2e5b);

        content: "";

        position: absolute;
        top: 50%;
        right: 33px;

        transform: translateY(-50%);
      }
    }

    &:active {
      @media (min-width: $tablet-width) {
        &::before {
          opacity: 0.3;
        }
      }
    }
  }

  &_big {
    position: relative;

    border-radius: 10px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 18px;
    padding-left: 20px;

    font-size: 18px;
    text-align: left;
    text-transform: none;

    @media (min-width: $tablet-width) {
      border-radius: 20px;
      padding-top: 26px;
      padding-bottom: 23px;
      padding-left: 30px;

      font-size: 24px;
      line-height: 26px;
    }

    &::before {
      @include triangle-right(10px, 14px, #1d2e5b);

      content: "";

      position: absolute;
      top: 50%;
      right: 20px;

      transform: translateY(-50%);

      @media (min-width: $tablet-width) {
        right: 33px;
      }
    }

    &:active {
      &::before {
        opacity: 0.3;
      }
    }
  }

  &_stroke {
    border-color: #192144;

    color: #192144;

    background-color: transparent;

    &:hover,
    &:focus {
      color: #ffffff;

      background-color: #192144;

      &::before {
        border-left-color: #ffffff;
      }
    }
  }
}
