.checkbox {
  box-sizing: border-box;

  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &_big {
    @media (min-width: $tablet-width) {
      letter-spacing: 2.4px;
      text-transform: uppercase;
      color: #1d2e5b;
    }

    .checkbox__input {
      &:focus {
        + .checkbox__name {
          opacity: 1;

          &::before {
            border-color: #959bb2;
          }
        }
      }

      &:active {
        + .checkbox__name {
          opacity: 1;

          &::before {
            border-color: #e2e5f1;

            background-color: #e2e5f1;
          }
        }
      }
    }

    .checkbox__name {
      padding-left: 39px;

      @media (min-width: $tablet-width) {
        padding-left: 59px;
      }

      &::before {
        box-sizing: border-box;
        width: 26px;
        height: 26px;
        border: 1px solid #cbced9;

        @media (min-width: $tablet-width) {
          width: 36px;
          height: 36px;

          transform: translateY(-55%);
        }
      }

      &:hover {
        opacity: 1;

        &::before {
          border-color: #959bb2;
        }
      }
    }
  }
}

.checkbox__input {
  @include visually-hidden();

  &:focus {
    + .checkbox__name {
      opacity: 0.6;
    }
  }

  &:active {
    + .checkbox__name {
      opacity: 0.3;
    }
  }

  &:checked {
    + .checkbox__name::before {
      background-image: url("../img/icon-tick.svg");
    }
  }
}

.checkbox__name {
  position: relative;

  display: block;
  padding-left: 27px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;

    margin-right: 9px;
    width: 18px;
    height: 18px;
    border-radius: 4px;

    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 9px 9px;
    transform: translateY(-60%);

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;

      background-size: 12px 12px;
    }
  }

  &:hover {
    opacity: 0.6;
  }
}
