.checkbox-filter {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }

  &_open {
    .checkbox-filter__control::after {
      transform: translateY(-50%) rotate(180deg);
    }

    .checkbox-filter__checkboxes {
      display: block;

      @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
        display: flex;
      }
    }
  }
}

.checkbox-filter__name {
  @include filter-name();
}

.checkbox-filter__control {
  @include filter-control();
}

.checkbox-filter__checkboxes {
  @include list-reset();

  display: none;

  padding-top: 7px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
    padding-top: 18px;
    padding-bottom: 20px;
  }
}

.checkbox-filter__checkbox {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 20px;
    width: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
