.contacts {
  box-sizing: border-box;

  &_buttons {
    .contacts__list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &_horizontal {
    //
  }
}

.contacts__list {
  @include list-reset();
}
