.contacts {
  box-sizing: border-box;

  &_buttons {
    .contacts__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.contacts__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
