.contact-button {
  @include circle(40px);

  position: relative;

  box-sizing: border-box;
  display: block;

  background-color: #ffbd30;
  outline: none;

  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
  }

  &:hover,
  &:focus {
    background-color: #ff8d30;
  }

  &:active {
    .contact-button__icon {
      opacity: 0.3;
    }
  }

  &_dark {
    background-color: #ff8d30;

    &:hover,
    &:focus {
      background-color: #f26926;
    }
  }
}

.contact-button__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 18px;
  height: 18px;

  fill: #161c35;
  transform: translate(-50%, -50%);
}
