.country-select {
  position: relative;

  box-sizing: border-box;
  display: flex;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &::before {
    @include circle(8px);

    content: "";

    position: absolute;
    top: 50%;
    right: 49px;
    z-index: 1;

    box-sizing: border-box;
    border: 1px solid #cbced9;

    background-color: #edeff6;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      right: -34px;

      width: 15px;
      height: 15px;
    }

    @media (min-width: $desktop-width) {
      right: -52px;
    }
  }

  &_select {
    &::before {
      background-color: #ffffff;
    }
  }

  &_selected {
    &::before {
      background-color: #1d2e5b;
    }

    .country-select__select-button {
      margin-right: -1px;

      &::before {
        width: 40px;
      }
    }
  }

  &_open {
    .country-select__delete-button {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }

    .country-select__options {
      display: block;
    }
  }
}

.country-select__add-button,
.country-select__select-button {
  position: relative;

  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  border: none;
  border-radius: 4px;
  padding: 12px;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  text-align: left;
  white-space: nowrap;
  color: inherit;

  overflow: hidden;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-right: 25px;
    padding-bottom: 23px;
    padding-left: 25px;

    letter-spacing: 1.9px;
  }
}

.country-select__add-button {
  background-color: #edeff6;

  &:hover,
  &:focus {
    background-color: #dfe3f0;

    &::before {
      background-image: linear-gradient(to left, #dfe3f0 0%, #dfe3f0 80%, rgba(#ffffff, 0) 100%);
    }
  }

  &:active {
    color: rgba(#1d2e5b, 0.3);

    .country-select__add-icon {
      opacity: 0.1;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 80px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    background-image: linear-gradient(to left, #edeff6 0%, #edeff6 80%, rgba(#ffffff, 0) 100%);
  }
}

.country-select__add-icon {
  position: absolute;

  top: 50%;
  right: 21px;

  transform: translateY(-50%);
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    right: 36px;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 14px;
    height: 2px;

    background-color: #5f6060;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 18px;
    }
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.country-select__select-button {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #cbced9;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 1px #959bb2;

    .country-select__select-icon {
      opacity: 0.5;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;

    width: 80px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    background-image: linear-gradient(to left, #ffffff 0%, #ffffff 80%, rgba(#ffffff, 0) 100%);
  }
}

.country-select__select-icon {
  position: absolute;
  top: 50%;
  right: 14px;

  width: 12px;
  height: 7px;

  fill: #231f20;
  transform: translateY(-50%);
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    right: 28px;

    width: 17px;
    height: 9px;
  }
}

.country-select__flag {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 53px;
  height: 42px;
  border: 1px solid #cbced9;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50%;
    right: -122px;

    width: auto;
    height: auto;

    border: none;

    transform: translateY(-50%);
  }

  @media (min-width: $desktop-width) {
    right: -155px;
  }
}

.country-select__options {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: calc(100% + 207px);
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.country-select__options-header {
  position: relative;

  box-sizing: border-box;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 12px;
  padding-right: 50px;

  color: #ffffff;

  background-color: #1d2e5b;

  @media (min-width: $tablet-width) {
    width: calc(100% - 207px);
    padding-top: 27px;
    padding-right: 70px;
    padding-bottom: 23px;
    padding-left: 25px;

    letter-spacing: 1.9px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.country-select__close-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 43px;
  border: none;
  padding: 0;

  background-color: transparent;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 68px;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 12px;
    height: 1px;

    background-color: #ffffff;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      width: 25px;
      height: 2px;
    }
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  &:active {
    &::before,
    &::after {
      opacity: 0.1;
    }
  }
}

.country-select__options-container {
  background-color: #ffffff;
  box-shadow: 0 20px 50px rgba(#1d2e5b, 0.1);

  @media (min-width: $tablet-width) {
    display: flex;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.country-select__alphabet {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: calc(100% - 207px);
    padding-top: 34px;
    padding-right: 79px;
    padding-bottom: 36px;
    padding-left: 27px;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 241px);
    padding-right: 102px;
  }
}

.country-select__countries {
  box-sizing: border-box;
  border: 1px solid #cbced9;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 55px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 207px;
    border: none;
    border-left: 1px solid #cbced9;
    border-radius: 0;
    padding-top: 32px;
    padding-right: 26px;
    padding-left: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 241px;
  }
}

.country-select__delete-button {
  @include circle(20px);

  position: absolute;
  top: -10px;
  right: -10px;

  border: none;
  padding: 0;

  background-color: #edeff6;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 50%;
    right: -181px;

    width: 50px;
    height: 50px;

    background-color: transparent;

    transform: translateY(-50%);
  }

  @media (min-width: $desktop-width) {
    right: -280px;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 12px;
    height: 1px;

    background-color: #000000;
    opacity: 0.1;

    @media (min-width: $tablet-width) {
      width: 25px;
      height: 2px;
    }
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      opacity: 0.3;
    }
  }

  &:active {
    &::before,
    &::after {
      opacity: 0.05;
    }
  }
}
