.directions-info {
  @include rounded-section();
  @include section-tail(#edeff6);

  position: relative;

  box-sizing: border-box;

  background-color: #edeff6;
}

.directions-info__container {
  @include container();

  position: relative;

  padding-top: 72px;
  padding-bottom: 119px;

  @media (min-width: $tablet-width) {
    padding-bottom: 209px;

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: 289px 575px;
    background-position: top 80px right 40px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 162px;
    padding-bottom: 140px;

    background-position: top 88px right 60px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }
}

.directions-info__text-container {
  margin-right: 24px;
  margin-left: 24px;

  @media (min-width: $tablet-width) {
    margin-right: 35px;
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-left: 0;
    width: 36.7%;
    padding-top: 4px;
  }
}

.directions-info__title {
  @include section-title();

  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.directions-info__text {
  margin-top: 0;
  margin-bottom: 60px;
  width: 90%;

  @media (min-width: $tablet-width) {
    margin-bottom: 103px;
    width: 56%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 94px;
    width: 72%;
  }
}

.directions-info__button {
  position: absolute;
  right: 25px;
  bottom: 29px;
  left: 25px;

  @media (min-width: $tablet-width) {
    right: 75px;
    bottom: 80px;
    left: 75px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    right: auto;
    bottom: auto;
    left: auto;

    margin-top: auto;
    margin-left: 3px;
    width: 56.6%;
  }
}

.directions-info__directions {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    margin-right: 35px;
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 71px;
    width: 42.3%;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";

      position: absolute;
      top: -40px;
      left: -35px;
      z-index: -1;

      width: 140px;
      height: 140px;
      border-radius: 20px;

      background-color: #e2e5f2;
    }

    @media (min-width: $desktop-width) {
      top: -74px;
      left: -70px;
    }
  }
}
