.filter {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }

  &_open {
    .filter__control::after {
      transform: translateY(-50%) rotate(180deg);
    }

    .filter__checkboxes {
      display: block;

      @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
        display: flex;
      }
    }

    .filter__transports {
      display: flex;
    }

    .filter__range-field {
      display: block;
    }
  }
}

.filter__name {
  @include visually-hidden();

  @media (min-width: $tablet-width) {
    @include visually-shown();

    flex-shrink: 0;
    margin-right: 7px;
    width: 120px;

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: #1d2e5b;
  }

  @media (min-width: $desktop-width) {
    @include visually-hidden();
  }
}

.filter__control {
  position: relative;

  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  border-top: 1px solid #f3c72b;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #1d2e5b;

  background-color: transparent;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    border-top: none;
    padding-top: 8px;
    padding-bottom: 4px;

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }

  &::after {
    @include triangle-bottom(8px, 4px, #192144);

    content: "";

    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);

    @media (min-width: $desktop-width) {
      @include triangle-bottom(10px, 5px, #192144);
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.filter__checkboxes {
  @include list-reset();

  display: none;

  padding-top: 8px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
    padding-top: 19px;
    padding-bottom: 20px;
  }
}

.filter__checkbox {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 20px;
    width: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__transports {
  @include list-reset();

  display: none;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 0;
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    display: none;
    padding-top: 10px;
    padding-bottom: 22px;
  }
}

.filter__range-field {
  display: none;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    display: none;
    padding-top: 9px;
    padding-bottom: 0;
  }
}
