.flags {
  &_tooltips {
    .flags__title {
      @include visually-hidden();
    }

    .flags__flag-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-right: 0;
      padding-left: 0;
    }

    .flags__flag-item {
      margin-right: 9px;
      margin-bottom: 4px;
      margin-left: 9px;

      &:last-child {
        margin-right: 9px;
        margin-bottom: 4px;
      }
    }
  }
}

.flags__title {
  @include title-with-lines();

  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    @include visually-hidden();
  }
}

.flags__flag-list {
  @include list-reset();

  padding-right: 25px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-right: 35px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-right: 0;
    padding-left: 0;
  }
}


.flags__flag-item {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-right: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 5px;
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-right: 0;
      margin-bottom: 4px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}
