.flag {
  position: relative;

  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    .flag__name {
      &_tooltip {
        display: block;
      }
    }
  }
}

.flag__image-container {
  width: 35px;
  height: 24px;
  border-radius: 2px;

  overflow: hidden;

  &_small {
    width: 26px;
    height: 18px;

    + .flag__name {
      &_tooltip {
        left: 13px;
      }
    }
  }
}

.flag__image {
  @include image-size();
}

.flag__name {
  margin-top: 6px;
  margin-left: 14px;

  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #1d2e5b;

  &_tooltip {
    @include tooltip();

    top: 146%;
    left: 18px;

    display: none;
    margin: 0;

    transform: translateX(-50%);
  }
}

