.header {
  position: relative;

  box-sizing: border-box;

  color: #ffffff;

  background-image: linear-gradient(to top, #192144 278px, #161c36 278px);

  @media (min-width: $tablet-width) {
    background-color: #182044;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding-top: 28px;

    background-color: #161c34;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 100%;
      border-bottom-right-radius: 60px;
      border-bottom-left-radius: 60px;

      background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: 431px 640px, 125% auto;
      background-position: right 40.2% bottom 0, left -180px bottom 0;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/traveller-illustration-desktop@2x.png"), url("../img/globe-back-desktop@2x.jpg");
      }
    }
  }

  &_inner {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    background-color: #161c35;
    background-image: none;

    @media (min-width: $tablet-width) {
      border-bottom-right-radius: 60px;
      border-bottom-left-radius: 60px;

      background-color: #161c35;
    }

    @media (min-width: $desktop-width) {
      background-color: #161c35;
    }

    &::before {
      display: none;
    }

    .header__container {
      padding-top: 94px;
      padding-bottom: 9px;

      @media (min-width: $tablet-width) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 218px;
        padding-bottom: 63px;
      }

      @media (min-width: $desktop-width) {
        padding-top: 190px;
      }
    }
  }
}

.header__navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;

  @media (min-width: $desktop-width) {
    top: 28px;
  }

  &.navigation_no-js {
    position: relative;
  }

  &.navigation_scroll {
    position: fixed;
    top: 0;
  }
}

.header__container {
  @include container();

  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 162px;
    padding-bottom: 96px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 180px;
    padding-bottom: 123px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 478px;

    background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 192px 255px, 100% auto;
    background-position: right 38% bottom 0, center bottom -91px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-mobile@2x.png"), url("../img/globe-back-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      height: 994px;

      background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
      background-size: 372px 451px, 192% auto;
      background-position: right 28.2% bottom 140px, left 50% bottom 0;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/traveller-illustration-tablet@2x.png"), url("../img/globe-back-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.header__slogan {
  align-self: center;
  display: block;
  margin-bottom: 244px;
  width: 96%;
  min-height: 120px;

  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    width: 60%;

    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    margin-bottom: 102px;
    margin-left: 67px;
    width: 32%;

    text-align: left;
  }
}

.header__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__contacts {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
}

.header__contact {
  flex-shrink: 0;
}

.header__button {
  flex-grow: 1;
}

.header__review {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 211px;
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 13px;
    margin-bottom: 114px;
    width: 21.7%;
  }
}

.header__review-text {
  margin-top: 0;
  margin-bottom: 18px;
  width: 68%;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    width: 44%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.header__review-author {
  @include section-slogan();

  display: block;
  width: 78%;

  font-style: normal;

  @media (min-width: $tablet-width) {
    width: 44%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.header__algorithm {
  width: 100%;
}

.header__title {
  position: relative;

  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 36px;
  font-weight: 700;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-left: 34px;
    max-width: 54%;

    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 66px;
  }

  &::before {
    content: "";

    position: absolute;
    bottom: -11px;
    left: 0;

    width: 100%;
    height: 5px;
    border-radius: 5px;

    background-color: #ff8d30;

    @media (min-width: $tablet-width) {
      bottom: -67px;

      height: 8px;
    }
  }
}

.header__return-link {
  position: relative;

  display: none;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 6px;
    max-width: 26%;
    margin-right: 35px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 63px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__return-icon {
  position: absolute;
  top: 50%;
  right: 0;

  width: 32px;
  height: 16px;

  fill: currentColor;
  transform: translateY(-70%);
}
