.like {
  @include circle(50px);

  position: relative;

  display: block;
  border: none;
  padding: 0;

  background-color: #edeff6;
  outline: none;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 20px;
    height: 18px;

    background-image: url("../../img/heart.svg");
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    background-color: #e2e5f2;

    &::before {
      opacity: 0.5;
    }
  }

  &:active {
    &::before {
      opacity: 0.1;
    }
  }

  &_active {
    background-color: #f9eaea;

    &::before {
      background-image: url("../../img/heart-active.svg");
      opacity: 1;
    }

    &:hover,
    &:focus {
      background-color: #f9d8d8;

      &::before {
        opacity: 1;
      }
    }

    &:active {
      &::before {
        opacity: 0.3;
      }
    }
  }
}

.like__text {
  @include visually-hidden();
}
