.location-info {
  @include section-tail(#ffd74b);

  position: relative;

  &::after {
    @media (min-width: $desktop-width) {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: calc(100% - 455px);
      border-bottom-right-radius: 60px;
      border-bottom-left-radius: 60px;

      background-color: #ffd74b;
    }
  }
}

.location-info__container {
  @include container();
  @include rounded-section();

  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 33px;

  background-color: #ffd74b;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-right: 75px;
    padding-bottom: 85px;
    padding-left: 75px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-right: 134px;
    padding-bottom: 54px;
    padding-left: 283px;

    background-color: transparent;
  }
}

.location-info__title {
  @include visually-hidden();
}

.location-info__link {
  align-self: flex-start;
  margin-bottom: 31px;
  max-width: 80%;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    align-self: center;
    margin-bottom: 0;
    max-width: 60%;
  }
}

.location-info__button {
  @media (min-width: $desktop-width) {
    min-width: 31.8%;
    max-width: 38%;
  }
}

.location-info__map {
  margin-top: -20px;

  @media (min-width: $tablet-width) {
    margin-top: -45px;
  }
}
