.logo {
  box-sizing: border-box;
  display: block;
  width: 100px;
  height: 19px;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }

  &_blue {
    background-image: url("../../img/logo-mobile-blue@1x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/logo-mobile-blue@2x.png");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../../img/logo-tablet-blue@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../../img/logo-tablet-blue@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/logo-desktop-blue@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../../img/logo-desktop-blue@2x.png");
      }
    }

    .logo__img {
      opacity: 0;
    }
  }
}

.logo__img {
  width: 100%;
  height: auto;
}
