.modal-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;

  font-size: 16px;
  font-weight: 700;
  line-height: 16px;

  text-decoration: none;
  color: #192144;

  @media (min-width: $tablet-width) {
    position: relative;

    font-size: 20px;
    line-height: 20px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      @include circle(66px);

      content: "";

      flex-shrink: 0;
      margin-right: 23px;

      background-color: #e2e5f2;
    }
  }

  &:hover,
  &:focus {
    .modal-button__text {
      opacity: 0.7;
    }

    .modal-button__icon {
      opacity: 0.7;
    }
  }

  &:active {
    .modal-button__text {
      opacity: 0.3;
    }

    .modal-button__icon {
      opacity: 0.3;
    }
  }
}

.modal-button__text {
  margin-top: 4px;
}

.modal-button__icon {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50%;
    left: 24px;

    display: block;
    width: 17px;
    height: 21px;

    fill: #132576;
    transform: translateY(-50%);
  }
}
