.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  display: none;
  box-sizing: border-box;
  width: 270px;
  border-radius: 20px;
  padding-top: 34px;

  background-color: #ffffff;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 688px;
    border-radius: 30px;
    padding-top: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 750px;
  }

  &_open {
    display: block;
  }
}

.modal__title {
  @include section-title();

  margin-right: 25px;
  margin-bottom: 28px;
  margin-left: 25px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-right: 91px;
    margin-bottom: 46px;
    margin-left: 91px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 60px;
    margin-left: 60px;
  }
}

.modal__services {
  margin-right: 25px;
  margin-bottom: 34px;
  margin-left: 25px;

  @media (min-width: $tablet-width) {
    margin-right: 91px;
    margin-bottom: 51px;
    margin-left: 91px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 60px;
    margin-left: 60px;
  }
}

.modal__close-button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 19px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #1d2e5b;

  background-color: #f3f4f8;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 41px;
    padding-bottom: 42px;

    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }

  &:hover,
  &:focus {
    background-color: #edeff6;
  }

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }
}
