.service-info {
  @include rounded-section();
  @include section-tail(#192144);

  position: relative;

  box-sizing: border-box;

  color: #ffffff;

  background-color: #192144;
}

.service-info__container {
  @include container();

  padding-top: 33px;
  padding-bottom: 81px;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-bottom: 88px;
    padding-left: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 132px;
    padding-bottom: 163px;
    padding-left: 131px;
  }
}

.service-info__title {
  @include section-title();

  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.service-info__text {
  margin-top: 0;
  margin-bottom: 19px;
  width: 86%;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    width: 46%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
    width: 52%;
  }
}

.service-info__slogan {
  @include section-slogan();

  width: 90%;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
    width: 42%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
    width: 34%;
  }
}

.service-info__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 42%;
  }

  @media (min-width: $desktop-width) {
    width: 22%;
  }
}
