.social-link {
  @include circle(45px);

  position: relative;

  box-sizing: border-box;
  display: block;

  background-color: #ffd74b;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    .social-link__icon {
      opacity: 0.3;
    }
  }
}

.social-link__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 22px;
  height: 22px;

  fill: #1d2e5b;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 28px;
  }
}
