.tags {
  box-sizing: border-box;

  &_center {
    .tags__tag-list {
      justify-content: center;
    }

    .tags__tag-item {
      margin-right: 3px;
      margin-left: 3px;

      &:last-child {
        margin-right: 3px;
      }
    }
  }
}

.tags__title {
  @include visually-hidden();
}

.tags__tag-list {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
}

.tags__tag-item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}
