.transport-filter {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }

  &_open {
    .checkbox-filter__control::after {
      transform: translateY(-50%) rotate(180deg);
    }

    .transport-filter__checkboxes {
      display: flex;
    }
  }
}

.transport-filter__name {
  @include filter-name();

  @media (min-width: $tablet-width) {
    margin-right: 4px;
  }
}

.transport-filter__control {
  @include filter-control();
}

.transport-filter__checkboxes {
  @include list-reset();

  display: none;
  flex-wrap: wrap;
  padding-top: 4px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 0;
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 22px;
  }
}
