@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin image-size() {
  max-width: 100%;
  height: auto;
}

@mixin triangle-top($width, $height, $color) {
  width: 0;
  height: 0;
  border-top: none;
  border-right: ($width / 2) solid transparent;
  border-bottom: $height solid $color;
  border-left: ($width / 2) solid transparent;
}

@mixin triangle-bottom($width, $height, $color) {
  width: 0;
  height: 0;
  border-bottom: none;
  border-right: ($width / 2) solid transparent;
  border-top: $height solid $color;
  border-left: ($width / 2) solid transparent;
}

@mixin triangle-right($width, $height, $color) {
  width: 0;
  height: 0;
  border-top: ($height / 2) solid transparent;
  border-right: none;
  border-bottom: ($height / 2) solid transparent;
  border-left: $width solid $color;
}

@mixin triangle-left($width, $height, $color) {
  width: 0;
  height: 0;
  border-top: ($height / 2) solid transparent;
  border-right: $width solid $color;
  border-bottom: ($height / 2) solid transparent;
  border-left: none;
}

@mixin circle($diameter) {
  border-radius: 50%;
  width: $diameter;
  height: $diameter;
}

@mixin tooltip() {
  position: absolute;

  border-radius: 4px;
  padding-top: 17px;
  padding-right: 27px;
  padding-bottom: 16px;
  padding-left: 24px;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;

  background-color: #101d41;
  z-index: 1;

  &::before {
    @include triangle-top(16px, 8px, #101d41);

    content: "";

    position: absolute;
    top: -7px;
    left: 50%;

    transform: translateX(-50%);
  }
}

@mixin title-with-lines() {
  display: flex;
  align-items: center;
  margin: 0;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;

  &::before,
  &::after {
    content: "";

    flex-shrink: 0;
    height: 1px;

    background-color: #edeff6;
  }

  &::before {
    margin-right: 12px;
    width: 14px;

    @media (min-width: $tablet-width) {
      width: 70px;
    }
  }

  &::after {
    flex-grow: 1;
    margin-left: 12px;
    min-width: 11px;

    @media (min-width: $tablet-width) {
      min-width: 70px;
    }
  }
}

@mixin title-above-border() {
  position: absolute;
  top: -7px;
  left: 50%;

  padding-right: 18px;
  padding-left: 18px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #1d2e5b;

  background-color: #edeff6;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: -12px;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;

    letter-spacing: 2px;
  }
}

@mixin section-title() {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ff8d30;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

@mixin section-slogan() {
  margin: 0;

  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}

@mixin container() {
  box-sizing: border-box;
  padding-right: 25px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
    width: 1440px;
  }
}

@mixin rounded-section() {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  @media (min-width: $tablet-width) {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
}

@mixin section-tail($color) {
  &::before {
    content: "";

    position: absolute;
    bottom: calc(100% - 1px);
    left: 0;
    z-index: -1;

    width: 100%;
    height: 80px;

    background-color: $color;
  }
}

@mixin filter-name() {
  @include visually-hidden();

  @media (min-width: $tablet-width) {
    position: static;

    flex-shrink: 0;
    margin: 0;
    margin-right: 7px;
    width: 120px;
    height: auto;

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    white-space: normal;
    color: #1d2e5b;

    clip-path: none;
    clip: auto;
    overflow: auto;
  }

  @media (min-width: $desktop-width) {
    @include visually-hidden();
  }
}

@mixin filter-control() {
  position: relative;

  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  border-top: 1px solid #f3c72b;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #1d2e5b;

  background-color: transparent;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    border-top: none;
    padding-top: 8px;
    padding-bottom: 4px;

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }

  &::after {
    @include triangle-bottom(8px, 4px, #192144);

    content: "";

    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);

    @media (min-width: $desktop-width) {
      @include triangle-bottom(10px, 5px, #192144);
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
