@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin right-triangle($width, $height, $color) {
  display: block;
  width: 0;
  height: 0;
  border-top: ($height / 2) solid transparent;
  border-right: none;
  border-bottom: ($height / 2) solid transparent;
  border-left: $width solid $color;
}
