@import "variables";

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin triangle-top($width, $height, $color) {
  width: 0;
  height: 0;
  border-top: none;
  border-right: ($width / 2) solid transparent;
  border-bottom: $height solid $color;
  border-left: ($width / 2) solid transparent;
}

@mixin triangle-right($width, $height, $color) {
  width: 0;
  height: 0;
  border-top: ($height / 2) solid transparent;
  border-right: none;
  border-bottom: ($height / 2) solid transparent;
  border-left: $width solid $color;
}

@mixin circle($diameter) {
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
}

@mixin tooltip() {
  position: absolute;

  max-width: 200px;
  border-radius: 4px;
  padding-top: 17px;
  padding-right: 27px;
  padding-bottom: 16px;
  padding-left: 24px;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: $white-color;

  background-color: #101d41;
  z-index: 1;

  &::before {
    @include triangle-top(16px, 8px, #101d41);

    content: "";

    position: absolute;
    bottom: 100%;
    left: 50%;

    transform: translateX(-50%);
  }
}

@mixin title-with-lines() {
  display: flex;
  align-items: center;
  margin: 0;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: $dark-gray-color;

  &::before,
  &::after {
    content: "";

    height: 1px;

    background-color: $gray-color;
  }

  &::before {
    margin-right: 12px;

    width: 16px;
  }

  &::after {
    margin-left: 12px;

    flex-grow: 1;
  }
}

@mixin list-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin image-size() {
  max-width: 100%;
  height: 0;
}

@mixin section-title() {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $orange-color;
}
