@import "mixins";

.tags__title {
  @include visually-hidden();
}

.tags__tag-list {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
}

.tags__tag-list_center {
  justify-content: center;
}

.tags__tag-item {
  margin-right: 6px;
}
