$white-color: #ffffff;
$blue-color: #1d2e5b;
$dark-blue-color: #161c35;
$light-gray-color: #edeff6;
$gray-color: #e2e5f2;
$dark-gray-color: #444444;
$yellow-color: #ffd74b;
$light-orange-color: #ffbd30;
$orange-color: #ff8d30;
$dark-orange-color: #f26926;
$light-pink-color: #f9eaea;
$pink-color: #f9d8d8;
$red-color: #ff0000;

